<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reabertura - Smart Fit</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
  </head>
  <body>
    <div class="logo">
      <img
        src="https://upload.wikimedia.org/wikipedia/pt/f/f1/Smart-fit-logo.jpg"
        alt="smart-fit-logo"
        width="220px"
        height="140px"
      />
    </div>
    <div class="main-page">
      <div class="explanation-container">
        <h1>
          REABERTURA <br />
          SMART FIT
        </h1>
        <hr class="reabertura-divisor" />
        <p>
          O horário de funcionamento das nossas unidades está seguindo os
          decretos de cada município. Por isso, confira aqui se a sua unidade
          está aberta e as medidas de segurança que estamos seguindo.
        </p>
      </div>
      <div class="scheduling-container">
        <form
          class="scheduling-prompt"
          hx-get="/results"
          hx-target="#results"
          hx-swap="innerHTML"
        >
          <div class="clock-container">
            <img
              src="images/icon-hour.png"
              alt="clock"
              width="30px"
              height="30px"
            />
            <p>Horário</p>
          </div>
          <p class="period-question">Qual período quer treinar?</p>
          <ul class="timeslots">
            <li>
              <div class="daytime-selection">
                <input
                  type="radio"
                  name="day_period"
                  value="morning"
                  class="daytime-radio"
                /><label for="day_period" class="daytime-label">Manhã</label>
              </div>
              <date>06:00 às 12:00</date>
            </li>
            <li>
              <div class="daytime-selection">
                <input
                  type="radio"
                  name="day_period"
                  value="afternoon"
                  class="daytime-radio"
                /><label for="day_period" class="daytime-label">Tarde</label>
              </div>
              <date>12:01 às 18:00</date>
            </li>
            <li>
              <div class="daytime-selection">
                <input
                  type="radio"
                  name="day_period"
                  value="evening"
                  class="daytime-radio"
                /><label for="day_period" class="daytime-label">Noite</label>
              </div>
              <date>18:01 às 23:00</date>
            </li>
          </ul>
          <div class="results-filter">
            <div class="filter-checkbox">
              <input
                type="checkbox"
                name="show_closed"
                id="closed-units"
                class="closed-units-checkbox"
              /><label for="closed-units" class="closed-units-filter"
                >Exibir unidades fechadas</label
              >
            </div>
            <p>
              Resultados encontrados:
              <strong class="number-of-results" id="number-of-results"
                >0</strong
              >
            </p>
          </div>
          <div class="find-units">
            <button type="submit" class="find-unit">ENCONTRAR UNIDADE</button>
            <button
              type="button"
              class="clean"
              hx-get="/clean"
              hx-target="#results"
              hx-swap="innerHTML"
            >
              LIMPAR
            </button>
          </div>
        </form>
      </div>
      <div class="prohibitions-container">
        <ul class="prohibitions-defs">
          <li>
            <h1 class="place">Máscara</h1>
            <ul class="recommendations">
              <li>
                <div class="rec-image">
                  <img
                    src="images/required-mask.png"
                    alt="required-mask"
                    width="60px"
                    height="60px"
                  />
                </div>
                <p>Obrigatório</p>
              </li>
              <li>
                <div class="rec-image">
                  <img
                    src="images/recommended-mask.png"
                    alt="recommended-mask"
                    width="60x"
                    height="60px"
                  />
                </div>
                <p>Recomendado</p>
              </li>
            </ul>
          </li>
          <li>
            <h1 class="place">Toalha</h1>
            <ul class="recommendations">
              <li>
                <div class="rec-image">
                  <img
                    src="images/required-towel.png"
                    alt="required-towel"
                    width="60x"
                    height="60px"
                  />
                </div>
                <p>Obrigatório</p>
              </li>
              <li>
                <div class="rec-image">
                  <img
                    src="images/recommended-towel.png"
                    alt="recommended-towel"
                    width="60x"
                    height="60px"
                  />
                </div>
                <p>Recomendado</p>
              </li>
            </ul>
          </li>

          <li>
            <h1 class="place">Bebedouro</h1>
            <ul class="recommendations">
              <li>
                <div class="rec-image">
                  <img
                    src="images/partial-fountain.png"
                    alt="partial-fountain"
                    width="60x"
                    height="60px"
                  />
                </div>
                <p>Parcial</p>
              </li>
              <li>
                <div class="rec-image">
                  <img
                    src="images/forbidden-fountain.png"
                    alt="forbidden-fountain"
                    width="60x"
                    height="60px"
                  />
                </div>
                <p>Proibido</p>
              </li>
            </ul>
          </li>

          <li>
            <h1 class="place">Vestiários</h1>
            <ul class="recommendations">
              <li>
                <div class="rec-image">
                  <img
                    src="images/required-lockerroom.png"
                    alt="required-lockerroom"
                    width="60x"
                    height="60px"
                  />
                </div>
                <p>Liberado</p>
              </li>
              <li>
                <div class="rec-image">
                  <img
                    src="images/partial-lockerroom.png"
                    alt="partial-lockerroom"
                    width="60x"
                    height="60px"
                  />
                </div>
                <p>Parcial</p>
              </li>
              <li>
                <div class="rec-image">
                  <img
                    src="images/forbidden-lockerroom.png"
                    alt="forbidden-lockerroom"
                    width="60x"
                    height="60px"
                  />
                </div>
                <p>Fechado</p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="results-container">
        <ul class="results" id="results"></ul>
      </div>
    </div>
  </body>
  <footer>
    <div class="footer-image">
      <img
        src="https://upload.wikimedia.org/wikipedia/pt/f/f1/Smart-fit-logo.jpg"
        alt="smart-fit-logo"
        width="120px"
        height="70px"
      />
    </div>
    <div class="footer-fine-print">
      <small>Todos os direitos reservados - 2020</small>
    </div>
  </footer>
</html>
